.NavLogo {
    font-family: 'Bungee Shade', cursive;
    font-size: 35px;
}

.NavDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white!important;
}

.right{
    position: absolute;
    right: 0
}